@import "../rest/functions";
@import "../rest/mixins";

.logoContainer {
  max-width: 140px;
}

.subtitle {
  @include useSecondFont();
  font-weight: 300;
  font-size: em(10, 16);
  line-height: lh(12.2, 10);
  margin-top: 6px;
}