@import "../rest/functions";

.contacts {
  display: flex;
  gap: rem(47);

  &__tel {
    a {
      transition: .3s all;

      &:hover {
        color: $hoverColor;
      }
    }
  }

  &__socials {
    display: flex;
    gap: rem(30);
  }

  &__socialItem {
    width: em(20, 16);
    height: em(20, 16);

    svg {
      max-width: 100%;
      max-height: 100%;
    }

  }

}