// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');

// Rest styles import
@import "rest/reset";
@import "rest/functions";
@import "rest/mixins";
@import "rest/vars";

// Block styles
@import "blocks/contacts";

// Layouts styles
@import "layouts/header";
@import "layouts/footer";
@import "layouts/sections/mainSection";


body {
  line-height: 1.22;
  @include useFirstFont();
  background: $backgroundColor;
  color: $color;
  font-weight: 400;
}


#root {
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

main {
  padding: 40px 0 59px;
  overflow: hidden;

  @media screen and (min-width: $tabletMedia) {
    padding: 90px 0 83px;
  }

  @media screen and (min-width: $mobileMedia) {
    overflow: initial;
  }
}


.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.icons {
  fill: $color;
  width: 100%;
  height: 100%;
  display: block;
  transition: .3s all;

  &:hover {
    transform: scale(1.2);
  }

  &--telegram:hover {
    fill: #21d4ec;
  }

  &--viber:hover {
    fill: #7360f2;
  }

  &--whatsapp:hover {
    fill: #5FFC7B;
  }

}



h2 {
  font-size: em(36, 16);
  line-height: lh(44, 36);
  font-weight: 900;

  @media screen and (min-width: $tabletMedia) {
    font-size: em(48, 16);
    line-height: lh(58, 48);
  }

}

h3 {
  font-size: em(18, 16);
  font-weight: 700;

  @media screen and (min-width: $tabletMedia) {
    letter-spacing: .05em;
    text-transform: uppercase;

    .no-gradient-text {
      text-transform: initial;
      letter-spacing: initial;
    }
  }
}


.hideOnMobile {
  display: none;

  @media screen and (min-width: $mobileMediaNumber + 1 + px) {
    display: block;
  }

}


.hideOnTablet {
  display: none;

  @media screen and (min-width: $tabletMedia) {
    display: block;
  }

}


.gradient-colorful-text {
  @include useGradientText();
}


.gradient-gold-text {
  @include useGradientText($gradientGoldTextBackground);
}


.no-gradient-text {
  color: $color;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
  text-fill-color: initial;
}


@each $font in [400, 500] {

  .font-#{$font} {
    font-weight: $font;
  }

}


.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}


.relative {
  position: relative;
}
