@import './src/styles/rest/mixins';
@import './src/styles/rest/vars';
@import './src/styles/rest/functions';


.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: em(45, 16);

  @media screen and (min-width: $tabletMedia) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__block {

    @media screen and (min-width: $tabletMedia) {
      max-width: em(362, 16);

      &:last-child {
        margin-top: em(15, 16);
      }
    }

  }

  &__subtitle {
    @include useSecondFont();
    font-size: em(18, 16);
    margin-top: em(15, 18);

    @media screen and (min-width: $tabletMedia) {
      max-width: em(275, 18);
      margin-top: em(30, 18);
    }
  }

  &__button {
    margin-left: auto;
  }

}

.features {

  @media screen and (min-width: $tabletMedia) {
    text-align: right;
    max-width: em(301, 16);
  }

  &__grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 15px 11px;
    margin-top: em(20, 16);

    @media screen and (min-width: $tabletMedia) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "vidgets dashboard"
                            "skype days";
      margin-top: em(40, 16);
      gap: 30px;
      margin-bottom: em(61, 16);
    }
  }

  &__item {
    @include useSecondFont();

    @media screen and (min-width: $tabletMedia) {

      $index: 1;
      @each $area in [skype, vidgets, dashboard, days] {

        &:nth-child(#{$index}) {
          grid-area: $area;
        }

        $index: $index + 1;

      }

    }

  }

  &__title {
    position: relative;
    font-size: em(13, 16);
    padding-left: em(15, 13);
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: lh(16, 13);

    @media screen and (min-width: $tabletMedia) {
      padding-left: 0;
      font-size: em(18, 16);
      letter-spacing: .05em;
      font-weight: 500;
      @include useFirstFont();
    }

    &:before {
      content: '';
      @include useAbsolutePosition(0, em(6, 13));
      background: $gradientGoldTextBackground;
      width: em(10, 13);
      min-height: 1px;
      height: em(1, 13);

      @media screen and (min-width: $tabletMedia) {
        display: none;
      }
    }

  }

  &__text {
    margin-top: em(6, 16);
  }

}
